p{
  font-size: 1.5em;
}

.container {
  max-width: 768px;
  align-self: center;
  justify-content: center;
  padding: auto 25%;
}

.navbar.navbar-6 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C");
}

.button {
  background-color: #e5056f; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 10px;
}

.circle {
  width: min(15vw, 140px) !important;
  height: min(15vw, 140px) !important;
  border-radius: 500px;
  margin: auto;
}

.preference {
  display: flex;
  flex-direction: column;
  width: min(30vw, 250px) !important;
  height: min(30vw, 250px) !important;
  border-radius: 1500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hover {
  transition: all 0.2s ease-in-out;
}

.hover:hover {
  transform: scale(1.15);
}

.question2,
.question3,
.confirmation,
.video {
  visibility: hidden;
}

.fade-in.visible {
  animation: fade-in 1s ease-out;
  visibility: visible;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-control {
  width: 5%;
}

.carousel-control.left,
.carousel-control.right {
  /* margin-right: 15px;
  margin-left: 15px; */
  background-image: none;
}

/* nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin: 0;
  width: 100px;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
}
.navLinks {
  align-self: "center";
}

/* the text area */
#textArea{
  width: min(50vw, 600px);
  height: min(20vh, 300px);
  border-style: none;
}


a {
  font-size: 1.5em;
}

strong {
  font-size: 1.5em;
}

strong {
  font-size: 1.5em;
}

h5 {
  font-size: 1.5em;
}

.panel{
  width: 80%;
  margin: 0 auto;
}

#inner {
  padding-left: 180px;
  padding-right: 180px;
}