.container {
  max-width: 768px;
  align-self: center;
  justify-content: center;
}

.navbar.navbar-6 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C");
}

.circle {
  width: min(15vw, 140px) !important;
  height: min(15vw, 140px) !important;
  border-radius: 500px;
  margin: auto;
}

.preference {
  display: flex;
  flex-direction: column;
  width: min(30vw, 250px) !important;
  height: min(30vw, 250px) !important;
  border-radius: 1500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hover {
  transition: all 0.2s ease-in-out;
}

.hover:hover {
  transform: scale(1.1);
}

.question2,
.question3,
.confirmation,
.video {
  visibility: hidden;
}

.fade-in.visible {
  animation: fade-in 1s ease-out;
  visibility: visible;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-control {
  width: 5%;
}

.carousel-control.left,
.carousel-control.right {
  /* margin-right: 15px;
  margin-left: 15px; */
  background-image: none;
}

/* .videoWrapper {
  padding-bottom: calc(var(--aspect-ratio, .5625));
} */

/* @media (min-width: 768px) {
  .container {
    max-width: 767px;
  }
} */

/* .moodCircles{
  max-width: 700px;
} */

/* nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-left: 40px;
}

.navLinks {
  align-self: "center";
}
p {
  font-size: 1.5em;
}

/* the text area */
#textArea{

}
a {
  font-size: 1.5em;
}

strong {
  font-size: 1.5em;
}

h5 {
  font-size: 1.5em;
}
 .panel{
  width: 80%;
  margin: 0 auto;
 }

 #inner {
  padding-left: 180px;
  padding-right: 180px;
 }